version: "3.3"

services:
  jasperdog:
    image: jackson147/jasperdog:latest
    networks:
     - web
    secrets:
     - slack-signing-secret
     - slack-client-id
     - slack-client-secret
     - discord-secret
networks:
  web:
    external: true

secrets:
  slack-signing-secret:
    file: '/home/rich/pass/slack-signing-secret-dev'
  slack-client-id:
    file: '/home/rich/pass/slack-client-id-dev'
  slack-client-secret:
    file: '/home/rich/pass/slack-client-secret-dev'
  discord-secret:
    file: '/home/rich/pass/discord-secret-dev'
