version: "3.3"

services:
  jasperdog:
    image: jackson147/jasperdog:latest
    networks:
     - web
    secrets:
     - slack-signing-secret
     - slack-client-id
     - slack-client-secret
     - discord-secret
networks:
  web:
    external: true

secrets:
  slack-signing-secret:
    external: true
  slack-client-id:
    external: true
  slack-client-secret:
    external: true
  discord-secret:
    external: true
